@model IEnumerable<AuthSystem.Models.ContactModel>

@{
    ViewData["Title"] = "Contact list";
}

<div class="text-center">
    <br>
    <h1 class="display-4">Contact list</h1>
    <br>
    <div>
        <a asp-controller="contact" asp-action="Create" class="btn btn-primary" role="button">
            Add new Contact
        </a>
    </div>
</div>

<table id="table-contacts" class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Number</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contact in Model)
        {
            <tr>
                <th scope="row">@contact.Id</th>
                <td>@contact.Name</td>
                <td>@contact.Email</td>
                <td>@contact.Phone</td>
                <td>
                    <a asp-controller="contact" asp-action="Edit" asp-route-id="@contact.Id" class="btn btn-primary btn-sm">Edit</a>
                    <button class="btn btn-danger btn-sm delete-button" data-id="@contact.Id" data-name="@contact.Name">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const deleteButtons = document.querySelectorAll(".delete-button");

        deleteButtons.forEach(button => {
            button.addEventListener("click", (e) => {
                const contactId = button.getAttribute("data-id");
                const contactName = button.getAttribute("data-name");

                
                Swal.fire({
                    title: 'Are you sure?',
                    text: `Do you really want to delete "${contactName}"?`,
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'Cancel',
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        
                        window.location.href = `/contact/delete/${contactId}`;
                    }
                });
            });
        });
    });
</script>
