@model UserModel

<body class="custom-background">
<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
    Hello, @Model.Nome
</a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="@Url.Content("~/Assets/Icons/Home-Icon.png")" class="icon" alt="Home Icon" /> <span>Home</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Contact" asp-action="Index">
                <img src="@Url.Content("~/Assets/Icons/Agenda-Icon.png")" class="icon" alt="Agenda Icon" /> <span>Contacts</span>
            </a>
        </li>

        @if(Model.Profile == AuthSystem.Enums.EnumProfile.Admin)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">
                    <img src="@Url.Content("~/Assets/Icons/Users-Icon.png")" class="icon" alt="Users Icon" /> <span>Users</span>
                </a>
            </li>
        }

        <li class="nav-item">
            <a class="nav-link text-dark" id="change-password-link" href="#">
                <img src="@Url.Content("~/Assets/Icons/Change-Password-Icon.png")" class="icon" alt="Change Password Icon" /> <span>Change Password</span>
            </a>
        </li>

        <li class="nav-item ms-auto">
            <a class="nav-link text-dark" id="exit-link" href="#">
                <img src="@Url.Content("~/Assets/Icons/Exit-Icon.webp")" class="icon" alt="Exit Icon" /> <span>Exit</span>
            </a>
        </li>
    </ul>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.getElementById('exit-link').addEventListener('click', function (event) {
        event.preventDefault();
        Swal.fire({
            title: 'Are you sure?',
            text: "You are about to exit!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, exit!',
            cancelButtonText: 'Cancel'
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire(
                    'Goodbye!',
                    'See you later!',
                    'success'
                ).then(() => {
                    window.location.href = '@Url.Action("Exit", "Login")';
                });
            }
        });
    });

    document.getElementById('change-password-link').addEventListener('click', function (event) {
        event.preventDefault();
        Swal.fire({
            title: 'Are you sure?',
            text: "You are about to change your password!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, proceed!',
            cancelButtonText: 'Cancel'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '@Url.Action("Index", "ChangePassword")';
            }
        });
    });
</script>
</body>
